.nav {
  background-color: #267347;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .col-md-4 {
  display: flex;
  justify-content: center;
}
.banner img {
  width: 100%;
  height: auto;
}
.scroll{
    height: 50%;
    overflow: scroll;
}
footer{
    background-color: #000000;
    color: #ffffff;
}
.chooser{
  display:inline;
  justify-content: end;
}
.chooser .dropdown,button{
  display: inline;
}
.autor img{
  border-radius: 50%;
}